<nav class="navbar">
    <a style="padding-left: 1.5rem;" class="navbar-brand" href="#">Translate</a>
</nav>



<div class="wrapper">

    <form [formGroup]="translationForm" (ngSubmit)="formSubmit()">

        <div class="form-headings">
            <div class="from-lang-heading">

                <h1>From:</h1>

                <select formControlName="inputLang" [(ngModel)]="inputLanguage">
                    <option *ngFor="let lang of languages" value="{{lang.isoCode}}">{{lang.isoCode?.toUpperCase()}} - {{lang.name}}</option>
                </select>
            </div>

            <button class="swap-lang-button" (click)="switchLanguages()" [ngClass]="{flipped:buttonFlipped}">
                <!-- <img src="../assets/swap-icon.svg" alt="Swap icon"> -->

                <svg 
                    viewBox="-1.6 -1.6 19.20 19.20"
                    version="1.1" xmlns="http://www.w3.org/2000/svg" 
                    xmlns:xlink="http://www.w3.org/1999/xlink" 
                    fill="#000000" stroke="#000000" 
                    stroke-width="0.00016"
                >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.192"/>
                    <g id="SVGRepo_iconCarrier"> <rect width="16" height="16" id="icon-bound" fill="none"/>
                     <path d="M0,11h11.2l-2.6,2.6L10,15l6-6H0V11z M4.8,5l2.6-2.6L6,1L0,7h16V5H4.8z"/>
                    </g>
                </svg>

            </button>

            <div class="to-lang-heading">
                <h1>To:</h1>
                <select formControlName="outputLang" [(ngModel)]="outputLanguage">
                    <option *ngFor="let lang of languages" value="{{lang.isoCode}}">{{lang.isoCode?.toUpperCase()}} - {{lang.name}}</option>
                </select>
            </div>

        </div>


        <div class="form-content">
            <div class="input-text">

                <!-- AAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAA -->

                <textarea multiline="false" name="" id="" formControlName="inputString" [(ngModel)]="inputText"></textarea>
                
            </div>

            <div class="translated-text">
                <p>
                    {{translatedText}}
                    <!-- BBBBBBBBBBBBBBBBBBBBBBBBBB
                    BBBBBBBBBBBBBBBBBBBBBBBBBB
                    BBBBBBBBBBBBBBBBBBBBBBBBBB
                    BBBBBBBBBBBBBBBBBBBBBBBBBB
                    BBBBBBBBBBBBBBBBBBBBBBBBBB
                    BBBBBBBBBBBBBBBBBBBBBBBBBB -->
                </p>
            </div>
            <!-- <button class="submit-button" type="submit">Translate</button>         -->
        </div>

    </form>


</div>


<router-outlet></router-outlet>